@model Entidades_Compartidas.Vuelos

@{
    ViewBag.Title = "Consulta de Vuelo";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Consulta de Vuelo</h2>
@ViewBag.Mensaje
@Html.ActionLink("Volver al Listado de Vuelos", "FormListarVuelos")

<div>
    <h4>Vuelos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPartida.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoArribo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoArribo.Nombre)
        </dd>
    </dl>
</div>
