@model IEnumerable<Entidades_Compartidas.Hospedajes>

@{
    ViewBag.Title = "Listado de Hospedajes";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Listado de Hospedajes</h2>

@ViewBag.Mensaje

<p>
    @Html.ActionLink("Nuevo Hospedaje", "FormAltaHospedaje")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoInterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoH)
        </th>
        <th></th>
    </tr>

@foreach (Entidades_Compartidas.Hospedajes unH in Model) {
    <tr>
        <td>
                @Html.DisplayFor(modelItem => unH.CodigoInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unH.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unH.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unH.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unH.PrecioH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unH.TipoH)
            </td>
        <td>
            @Html.ActionLink("Modificar", "FormModificarHospedaje", new { unH.CodigoInterno }) |
            @Html.ActionLink("Consultar", "FormConsultarHospedaje", new { unH.CodigoInterno }) |
            @Html.ActionLink("Eliminar", "FormBajaHospedaje", new { unH.CodigoInterno })
        </td>
    </tr>
}

</table>
